*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body{
    background: #090806 url(../img/mapaAzeroth.jpg) no-repeat top center;
    background-attachment: fixed;
    font-family: "Friz Quadrata Std Medium" !important;
  }

  section.home{
      padding: 15px;
  }

  .home div {
      padding: 15px;
      border-radius: 8px;
      text-align: center;
  }

  .ui-widget {
    font-family: "Friz Quadrata Std Medium" !important;
    font-size: 1em;
}

  button {
    background-color: rgb(0, 41, 14);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  img {
      height: 80%;
      width: 80%;
      margin:auto;
      display:block;
  }
  
  

  /*---- Floats -----*/
  .floatLeft {
      float: left;
  }
  
  .floatRight {
      float: right;
  }  

  /*--- Colores de fondo ---*/

  .bg-Green {
      background-color: rgba(172, 255, 47, 0.397);
  }

  .bg-Red {
      background-color: rgba(143, 21, 52, 0.575);
  }
  
  .bg-greyBlue {
      background-color: rgba(66, 96, 121, 0.432);
  }

  .bg-yellow {
      background-color: #e5e90186;
  }

  .bg-BrownGrey {
    background-color: #91876c81;;
  }

/* ----- TEXTO ------*/
  /* --- Alineado texto ----*/
  .txt-center {
      text-align: center;
  }

  .txt-Right {
      text-align: right;
  }

  .txt-Left {
      text-align: left;
  }

  /*---Color texto ---*/
  .txt-White {
      color: white;
  }

  .txt-Blue {
      color: rgb(50, 50, 255);
  }

  .txt-NoDeco {
      text-decoration: none;
  }

  /*----------------------------------*/

  .displayInlineBlock {
      display: inline-block;
  }


  /*------ Por ID -------*/
  ul#instrucciones {
    list-style: none;

  }
  ul#instrucciones li {
    padding-left: 20px;

  }
/*---- ALTO DE PANTALLA -----*/

.h25 {
    height: 25vh;
}

.h50 {
    height: 50vh;
}

.h100 {
    height: 100vh;
}

/*------ Contenedor Preguntas -----*/

.contenedorPreguntas {
    padding: 10px;
    
}
/* ---- Estilo respuestas ---*/
.respuestaIncorrecta {
    color: rgb(194, 5, 5);
    font-weight: bolder;
    /* background: url(../img/checkSprites.png) -3px 6px; */
    background-size: 58px 20px;
    background-repeat: no-repeat;
  }
  
  .respuestaCorrecta {
    color: rgb(4, 146, 47);
    font-weight: bolder;
    /* background: url(../img/checkSprites.png) -27px 6px; */
    background-size: 58px 20px;
    background-repeat: no-repeat;
  }

main {
    margin-bottom: 50px;
}
/* ----- Form Registro -----*/
#myForm {
    padding: 15px;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background: url("../img/Panel-bg-stacked.jpg") rgb(150, 150, 150);
    font-family: "Friz Quadrata Std Medium";
    color: white;
}

#myForm input[type=text] {
    width: 100%;
    background-color: #d6a82a81;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


#myForm select {
    width: 100%;
    background-color: #d6a82a81;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



/*----- Accordion Syle------*/

#accordion h3 {
    background-color: #171b1481;
    color: white;
    text-shadow: 2px 2px #000000;
}

#accordion h3:hover {
    background-color: #4b6637c5;
}

#accordion .ui-accordion-content {
    width: 100%;
    background-color: #91876c81;
    color: rgb(180, 186, 199);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 11pt;
    font-family: Friz Quadrata Std ;
    line-height: 16pt;
  }
  #accordion label {
      display: block;
      width: 80%;
      font-size: 1.2em;
  }
  #accordion label:hover {
      background-color: rgba(50, 44, 78, 0.637);
      border-radius: 5px;
  }

/* ----- Checkbox y radioButtons custom ---*/

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 


  /* ----- Contenedor -----*/
  .contenedor {
      height: auto;
      padding: 10px;
  }

  /*----------------------- Menu navegación ---------------------*/

nav {
    position: relative;
  }
  
  ul.menunav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #333;
    border: 1px solid black;
  }
  
  li.menunav {
    float: left;
  }
  
  li a.menunav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid black;
    border-left:  1px solid black;
  }
  li a:hover {
    background-color: rgb(182, 182, 182);
    opacity: 0.85; 
  }
  
  .icon-menu {
    padding: 14px 16px;
  }
  
  #menu {
    display:none;
  }

  #right {
      color: white;
      text-shadow: 1px 1px rgb(0, 0, 0);
  }
    /*---- Desplegable-----*/
  
    ul, ol {
      list-style:none;
    }
    .menunav li ul {
      display:none;
      position:absolute;
      min-width:140px;
    }
    
    .menunav li:hover > ul {
      display:block;
    }
    
    .menunav li ul li {
      position:relative;
    }
    
    .menunav li ul li ul {
      right:-160px;
      top:-0px;
    }
    
  
  /*Footer*/

  footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: auto;
 }

/*----------Aside SocialBar-----------*/
#socialBar {
    position: fixed; 
    left: 0; 
    top: 200px; 
    z-index: 2000; 
  }
  
  #socialBar ul {
    list-style: none;
    
  }
  
  #socialBar ul li a {
    display: inline-block;
    color:#fff;
    border-radius: 3px;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
   -webkit-transition:all 500ms ease;
   -o-transition:all 500ms ease;
    transition:all 500ms ease; 
    }
  
    #socialBar ul li .icon-facebook {background:#3b5998;} 
    #socialBar ul li .icon-twitter {background: #00abf0;}
    #socialBar ul li .icon-google {background: #d95232;}
    #socialBar ul li .icon-youtube {background: #ae181f;}
    #socialBar ul li .icon-mail {background: #666666;}
    #socialBar ul li .icon-chevron-small-left {
      background: rgba(0, 0, 0, 0);
      padding-left: 5px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    }
  
    #right {
      display: none;
    }
  
    #socialBar ul li a:hover {
      opacity: 75%;
      padding: 10px 30px; 
  }

  /* ----- Formulario Popup -----*/
  #myForm {
    display: none;       
}

    /*----  -------*/
    .ui--content {
    background: url(../img/Panel-bg-stacked.jpg) !important;
    color: white !important;
    }
/*--- Separar columnas -----*/
/*---- Izquiera -----*/
    .sep-Left-1 {margin-left: 8.33%;}
    .sep-Left-2 {margin-left: 16.66%;}
    .sep-Left-3 {margin-left: 25%;}
    .sep-Left-4 {margin-left: 33.33%;}
    .sep-Left-5 {margin-left: 41.66%;}
    .sep-Left-6 {margin-left: 50%;}
    .sep-Left-7 {margin-left: 58.33%;}
    .sep-Left-8 {margin-left: 66.66%;}
    .sep-Left-9 {margin-left: 75%;}
    .sep-Left-10 {margin-left: 83.33%;}
    .sep-Left-11 {margin-left: 91.66%;}
    .sep-Left-12 {margin-left: 100%;}
/*---- Derecha -----*/
    .sep-right-1 {margin-right: 8.33%;}
    .sep-right-2 {margin-right: 16.66%;}
    .sep-right-3 {margin-right: 25%;}
    .sep-right-4 {margin-right: 33.33%;}
    .sep-right-5 {margin-right: 41.66%;}
    .sep-right-6 {margin-right: 50%;}
    .sep-right-7 {margin-right: 58.33%;}
    .sep-right-8 {margin-right: 66.66%;}
    .sep-right-9 {margin-right: 75%;}
    .sep-right-10 {margin-right: 83.33%;}
    .sep-right-11 {margin-right: 91.66%;}
    .sep-right-12 {margin-right: 100%;}
  

/*---- Fuentes -----*/
@font-face{
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}

@font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}


/* ----- MEDIAQUERIES ----- */

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {width: 100%;}
    [class*="sep-"] {margin-left: 0px;margin-right: 0px;}
    #socialBar {
        display: none;
    }
    footer {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #socialBar {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #socialBar {
        display: block;
    }
}